$body-background: #135d8a;
$container-background: #f2f2f2;
$pane-border: #cccccc;
$title-color: #ffffff;
$footer-color: #ffffff;

$btn-danger-background: #c92a2a;
$btn-danger-border: #b42626;
$btn-danger-hover-background: #a72323;
$btn-danger-hover-border: #811b1b;